@charset "UTF-8";

/*----------------------------*/
/* imports                    */
/*----------------------------*/

/* import Catppuccin theme */
@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

/* import Anonymous Pro typeface */
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*----------------------------*/
/* global styles              */
/*----------------------------*/

:root {
  background: var(--ctp-mocha-base);
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 16pt;
  color: var(--ctp-mocha-text);
}

html,
body {
  margin: 0;
}

.content {
  position: fixed;
  overflow-y: scroll;
  overflow-x: auto;
  top: 0;
  bottom: 1rem;
  margin: 1rem 0 1rem 1rem;
  padding-right: 1rem;
}

::selection {
  background: var(--ctp-mocha-yellow);
  color: var(--ctp-mocha-base);
}

ul {
  list-style: none;
  padding: 0px;
}

ul li:before {
  content: "-";
  margin-left: 1rem;
}

li {
  margin-top: 0.25rem;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

.shell {
  color: var(--ctp-mocha-mauve);
  font-weight: 700;
}

.cwd {
  color: var(--ctp-mocha-blue);
  font-weight: 700;
}

.prompt {
  display: inline-block;
  color: var(--ctp-mocha-green);
}

.typed-cmd {
  display: inline-block;
  vertical-align: middle;
  width: 7ch;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  border-left: 1ch solid var(--ctp-mocha-rosewater);
  animation: typing 1s steps(7) forwards;
  animation-delay: 1s;
}

.cmd-output {
  visibility: hidden;
  animation: appear 0s 2.25s forwards;
}

.cmd2-output {
  visibility: hidden;
  animation: appear 0s 4.5s forwards;
}

.subtext {
  color: var(--ctp-mocha-surface2);
}

/*----------------------------*/
/* home tab                   */
/*----------------------------*/

.social-link > a {
  color: var(--ctp-mocha-mauve);
}

/*----------------------------*/
/* projects tab               */
/*----------------------------*/

#projects-tab {
  display: none;
}

.project-link > a {
  color: var(--ctp-mocha-blue);
}

/*----------------------------*/
/* tmux-style navbar          */
/*----------------------------*/

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 1rem 1rem;
}

.nav-btn {
  cursor: pointer;
  user-select: none;
}

.nav-btn:hover > .nav-btn-title {
  background: var(--ctp-mocha-surface2);
}

.nav-btn-id {
  background: var(--ctp-mocha-blue);
  color: var(--ctp-mocha-surface0);
}

.nav-btn-id-active {
  background: var(--ctp-mocha-peach);
  color: var(--ctp-mocha-surface0);
}

.nav-btn-title {
  background: var(--ctp-mocha-surface0);
}

/*----------------------------*/
/* animations                 */
/*----------------------------*/

@keyframes typing {
  0% {
    width: 0;
    color: var(--ctp-mocha-text);
    border-left: 0;
    border-right: 1ch solid var(--ctp-mocha-rosewater);
  }

  99% {
    color: var(--ctp-mocha-text);
    border-right: 1ch solid var(--ctp-mocha-rosewater);
  }

  100% {
    width: 7ch;
    color: var(--ctp-mocha-green);
    border-left: 0;
    border-right: 0;
  }
}

@keyframes cmd-enter {
  to {
    border-color: transparent;
  }
}

@keyframes appear {
  to {
    visibility: visible;
  }
}
