@charset "UTF-8";

/* import Catppuccin theme */
@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

/* import Anonymous Pro typeface */
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-size: 16pt;
}

body {
  position: absolute;
  overflow: auto;
  right: 0;
  left: 0;
  margin: 1rem;
  background: var(--ctp-mocha-base);
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  color: var(--ctp-mocha-text);
}

ul {
  list-style: none;
  padding: 0px;
}

ul li:before {
  content: "-";
  margin-left: 1rem;
}

li {
  margin-top: 0.25rem;
}

a {
  color: var(--ctp-mocha-mauve);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 1rem 1rem;
}

.shell {
  color: var(--ctp-mocha-mauve);
  font-weight: 700;
}

.cwd {
  color: var(--ctp-mocha-blue);
  font-weight: 700;
}

.prompt {
  display: inline-block;
  color: var(--ctp-mocha-green);
}

.typed-cmd {
  display: inline-block;
  vertical-align: middle;
  width: 7ch;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  border-left: 1ch solid var(--ctp-mocha-rosewater);
  animation: typing 1s steps(7) forwards;
  animation-delay: 1s;
}

.whoami-output {
  animation: appear 0s 2.25s forwards;
  visibility: hidden;
}

.joke {
  color: var(--ctp-mocha-surface2);
}

.tmux-win-num {
  background: var(--ctp-mocha-blue);
  color: var(--ctp-mocha-surface0);
}

.tmux-win-num-active {
  background: var(--ctp-mocha-peach);
  color: var(--ctp-mocha-surface0);
}

.tmux-win-title {
  background: var(--ctp-mocha-surface0);
  cursor: pointer;
  user-select: none;
}

.tmux-win-title:hover {
  background: var(--ctp-mocha-surface2);
}

#projects-tab {
  display: none;
}

/* animations */
@keyframes typing {
  0% {
    width: 0;
    color: var(--ctp-mocha-text);
    border-left: 0;
    border-right: 1ch solid var(--ctp-mocha-rosewater);
  }

  99% {
    color: var(--ctp-mocha-text);
    border-right: 1ch solid var(--ctp-mocha-rosewater);
  }

  100% {
    width: 7ch;
    color: var(--ctp-mocha-green);
    border-left: 0;
    border-right: 0;
  }
}

@keyframes cmd-enter {
  to {
    border-color: transparent;
  }
}

@keyframes appear {
  to {
    visibility: visible;
  }
}
